<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INTERVIEW</title>
    <link rel="stylesheet" href="/css/studentform.css">
</head>

<body>
     <!-- PARTIALS FOR HEADER -->
    <%- include('partials/header') %>
    <div class="my-container">
        <div class="form-wrapper">
            <form action="/company/scheduleInterview" method="POST">
                <div class="form-group">
                    <label for="batchname">Batch</label>
                    <select name="bathcname" id="batchname">
                        <option selected disabled>Select Batch</option>

                        <%for(let batch of batch_array){%>
                        <option value="<%=batch%>"><%= batch %></option>
                         <%}%> 
                    </select>
                </div>
                <div class="form-group">
                    <label for="studentname">Student Name</label>
                    <select name="studentname" id="studentname">

                    </select>
                </div>
                <div class="form-group">
                    <label for="input-companyname">Company</label>
                    <input type="text" id="input-companyname" name="companyname">
                </div>
                <div class="form-group">
                    <label for="input-date">Date</label>
                    <input type="date" id="input-date" name="companydate">
                </div>
                <div class="form-group">
                </div>
                
                
                
                <div class="submit-div">
                    <button class="btn"><a href="/company/">Cancel</a></button>
                    <button class="btn" type="submit">Schedule Interview</button>
                </div>
            </form>
        </div>
    </div>
    <%- include('partials/flashMessages') %>
    <script>
        let studentsList = JSON.parse('<%- JSON.stringify(students) %>');

        let select = document.getElementById("studentname");
        let checked = 0;
        const batchName = document.getElementById("batchname");

        select.addEventListener("click", fillNames);
        batchName.addEventListener("click", batchField);

        function batchField(){
            clicked=0;
            select.querySelectorAll('option').forEach(option => option.remove())
        }

        function fillNames(){
            let batchvalue = batchName.value;
            for(let st of studentsList){
                            
                if(batchvalue === st.batch && clicked == 0 ){
                    let newOption = document.createElement("option");
                    newOption.value = `${st._id}`;
                    newOption.innerHTML = `${st.name} ( ${st.email} )`;
                    select.appendChild(newOption);
                }
            }
            clicked=1;

        }
    </script>
</body>
</html>