<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT</title>
    
    <link rel="stylesheet" href="/css/studentform.css">
</head>

<body>
    <!-- PARTIALS FOR HEADER -->
    <%- include('partials/header') %>
    
    <div class="my-container">
        <div class="form-wrapper">
            
    <form action="/student/modifydone" method="post">
        <%- include('partials/student') %>

        <fieldset>
                <legend>Interviews</legend>

                <% for( let company of studnt.interviews){%>
                        <div class="form-group" style="display: flex;justify-content: space-between;">
                                <div class="form-group">
                                    <label for="input-companyname">Company</label>
                                    <input type="text" class="disabled" id="input-companyname" name="companyname" value="<%=company.companyname%>" disabled>
                                </div>
                            <div class="form-group">
                                <label for="input-date">Date</label>
                                <input type="date" class="disabled" id="input-date" name="companydate" value="<%=company.scheduledate%>" disabled>
                            </div>
                            <div class="form-group">
                                <label for="rstatus" >Result</label>
                                    <select class="disabled" aria-label="Default select example" name="result" id="rstatus" disabled>
                                        <option selected disabled><%=company.result%></option>
                                            <option value="Selected">Selected</option>
                                            <option value="Not Selected">Not Selected</option> 
                                            <option value="On Hold">On Hold</option>
                                            <option value="Interview Pending">Interview Pending</option>
                                    </select>
                            </div> 
                        </div>     
                    <%}%>
            </fieldset>


            <div class="submit-div">
                <button class="btn"><a href="/">Cancel</a></button>
                <button class="btn" type="submit">Update Details</button>
            </div>

    </form>
        </div>
    </div>

    <%- include('partials/flashMessages') %>
    <script>
        document.getElementById('input-email').readOnly = true;
    </script>

</body>
</html>