<!DOCTYPE html>
<html lang="en">
<head>
    <title>PLACEMENTCELL</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('partials/header') %>
    <section class="flex">
        <div class="container flex">
            <h1 class="body-heading">Student</h1>
                <div class="controls flex">
                    <button class="btn"><a href="/student/create">Add Student</a></button>
                    <input type="search" class="search" id="search-student" placeholder="Search...">
                </div>
            <div class="data-row">
            <% if(students.length > 0) {%>
                <table>
                    <thead>
                        <tr>
                            <th>Batch</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>DSA</th>
                            <th>WEB</th>
                            <th>REACT</th>
                            <th>Interview</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="student-table">
                        <% for(let student of students) {%> 
                        
                        <tr>
                            <th><%=student.batch%></th>
                            <td><%=student.name%></td>
                            <td><%=student.email%></td>
                            <td><%=student.mobilenumber%></td>
                            <td><%=student.dsascore%></td>
                            <td><%=student.webdevscore%></td>
                            <td><%=student.reactscore%></td>
                            <td>
                                <%
                                if(student.interviews.length){
                                    for(let company of student.interviews){%>
                                        <p id="compnay_name"><%=company.companyname%></p>
                                    <%}
                                }
                                    else{%>
                                        <p>Null</p>
                                <%}%>
                                
                            </td>
                            <td class="data-controls flex"><a href="/student/update/<%=student.id%>" class="btn">Edit</a><a href="/student/view/<%=student.id%>" class="btn">View</a><a href="/student/delete/<%=student.id%>"" class="btn">Delete</a></td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            <%}
            else{%>
                <p style="font-size: 2rem;font-weight:800">No Records Found...</p>    
            <%}%>
            </div>
        </div>
    </section>
    <%- include('partials/flashMessages') %>
    <script src="/js/home.js"></script>
</body>
</html>